.buyController {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	font-size: 16px;
	color: black;
}

.buyController img { display: block; }

.crumbs {
	width: 100%;
	height: auto;
	font-size: 14px;
	cursor: pointer;
	padding: 15px 0px 10px;
	color: gray;
}
.crumbs a { color: gray; }
.crumbs a:hover { text-decoration: underline; }

.buy_title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-indent: 68px;
	border-bottom: 1px solid silver;
}

.buy_top {
	width: 100%;
	height: 216px;
	margin: 0 auto 30px;
	background: white;
}

.buy_top img {
	width: 84px;
	height: 84px;
	overflow: hidden;
	float: left;
	margin: 40px 64px 0px 54px;
	border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;
}

.buy_top_name {
	width: 200px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	float: left;
	margin: 48px 0px 0px 0px;
}

.buy_top_company {
	width: 200px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: rgb(102, 102, 102);
	float: left;
	margin: 88px 0px 0px -200px;
}

.buy_top_detail {
	width: 230px;
	height: auto;
	color: rgb(102, 102, 102);
	float: right;
	line-height: 20px;
	margin: 55px 63px 0px 0px;
	letter-spacing: 1px;
}





.buy_middle {
	width: 100%;
	height: 120px;
	margin: 0 auto 30px;
	background: white;
}

.buy_middle span {
	display: block;
	width: 100%;
	height: 69px;
	line-height: 69px;
	color: rgb(102, 102, 102);
	padding-left: 89px;
}





.buy_bottom {
	width: 100%;
	height: 480px;
	margin: 0 auto;
	background: white;
}

.buy_bottom_money {
	width: 80%;
	height: 30px;
	line-height: 30px;
	margin-left: 75px;
	margin-top: 50px;
}

.buy_bottom_money span {
	color: red;
}


.buy_bottom_left {
	float: left;
	margin-right: 60px;
}

.buy_bottom_buyway {
	width: 80%;
	height: 50px;
	line-height: 50px;
	margin-left: 75px;
	margin-top: 40px;
}

.buy_bottom_buyway input[type=radio] {
	display: block;
	float: left;
	margin-top: 22px;
	margin-right: 15px;
}

.buy_bottom_buyway img {
	display: block;
	float: left;
	margin-right: 50px;
	margin-top: 5px;
}



.pay_button {
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 120px auto 0;
	background: #1A9FEB;
	color: white;
	cursor: pointer;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	display: block;
}

.pay_button:hover {
	background: rgb(40, 176, 252);
}



/****************************** 支付成功 *****************************/

.puy_success {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.pay_content {
	width: 100%;
	height: 530px;
	margin: 0 auto;
	background: white;
	font-size: 16px;
	color: black;
}

.pay_content_title {
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin: 0px 0px 10px 70px;
}

.pay_content_title img {
	display: block;
	float: left;
	margin-right: 20px;
}

.pay_content_des {
	width: 400px;
	height: 30px;
	line-height: 30px;
	margin-left: 25px;
	font-size: 14px;
	text-align: center;
	color: rgb(153, 153, 153);
}

/****************************** 支付成功 *****************************/





/****************************** 扫码 *****************************/

.weixin_scan {
	width: 1200px;
	height: 540px;
	margin: 0 auto;
	background: white;
}

.scan_price {
	width: 400px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}

.scan_price span {
	color: red;
	font-size: 24px;
	font-weight: bold;
}

.scan_code {
	width: 200px;
	height: 200px;
	margin: 45px auto 0;
	border: 4px solid #F5F5F5;
	border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}

.scan_tip {
	width: 220px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	margin: 35px auto 0;
	font-size: 18px;
}

.scan_tip img {
	display: block;
	float: left;
	margin-right: 20px;
}

/****************************** 扫码 *****************************/


