.commentDetail {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}


.commentDetail img { display: block; }

.crumbs {
	width: 100%;
	height: auto;
	font-size: 14px;
	cursor: pointer;
	padding: 15px 0px 10px;
	color: gray;
}
.crumbs a { color: gray; }


/*************************************  当前视频  *****************************************/

.current_video {
	width: 800px;
	height: 510px;
	float: left;
}

.video_block {
	width: 100%;
	height: 450px;
	background: silver; 
	position: relative;
}


.video_block .videobox {
	width: 100%;
	height: 450px;
	position: absolute;
	left: 0;
	top: 0;
}
.video_block .overtime {
	width: 100%;
	height: 450px;
	background: rgba(0, 0, 0, 1); 
}

.overtime_detail {
	width: 50%;
	height: 100px;
	margin: 0px 0px 0px 27%;
	color: white;
}

.overtime_detail div { 
	color: white; 
	width: auto;
}

.overtime_tologin {
	width: 20%;
	display: block;
	height: 20px;
	margin: 40px 0 0 42%;
	cursor: pointer;
}


.video_bar {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: white;
}

.video_bar_title {
	font-size: 18px;
	color: black;
	float: left;
	margin-left: 30px;
}

.video_bar_icon {
	font-size: 14px;
	height: 27px;
	line-height: 27px;
	color: gray;
	float: right;
	margin-right: 25px;
	margin-top: 16px;
	cursor: pointer;
}

.video_bar_icon img {
	display: block;
	float: left;
	margin-right: 10px;
}

/*************************************  当前视频  *****************************************/





/*************************************  评论列表  *****************************************/

.comment {
	width: 800px;
	height: auto;
	float: left;
	margin-top: 40px;
	background: white;
	padding-bottom: 20px;
}

.comment_textarea {
	width: 87%;
	max-width: 87%;
	height: 150px;
	margin: 0 auto;
	display: block;
	background: #E5E5E5;
	border: none;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	padding: 5px 12px;
	line-height: 25px;
	font-size: 16px;
	font-family: 微软雅黑;
	letter-spacing: 1px;
	word-wrap: break-word;
}

.comment_textarea_nologin {
	line-height: 200px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
}
.comment_textarea_nologin a:hover {
	text-decoration: underline;
}

.comment_button {
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	background: #E5E5E5;
	cursor: pointer;
	font-size: 18px;
}


.comment_list {
	width: 87%;
	height: auto;
	margin: 0 auto;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 20px;
	padding: 5px 20px 20px 10px;
	word-wrap: break-word;
}

.comment_list:last-child {
	border: none;
}

.comment_list img {
	display: block;
	width: 70px;
	height: 70px;
	float: left;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.comment_list .username {
	font-size: 16px;
	color: rgb(102, 102, 102);
	max-width: 400px;
	height: 30px;
	line-height: 25px;
	margin: 0px 0px 0px 30px;
	float: left;
}

.comment_list .time {
	font-size: 12px;
	color: gray;
	float: right;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: right;
	margin-top: 5px;
}

.comment_list .content {
	width: 550px;
	height: auto;
	line-height: 25px;
	font-size: 16px;
	color: rgb(34, 34, 34);
	float: left;
	margin-left: 30px;
	margin-top: 5px;
}

.comment_list .bottom {
	height: 25px;
	line-height: 25px;
	float: right;
	font-size: 13px;
	color: gray; 
	text-align: right;
	margin-left: 40px;
	margin-top: 20px;
	cursor: pointer;
}

.comment_list .bottom:hover {
	color: #37A6FF;
}

.comment_list .islike:hover {
	color: gray; 
	text-decoration: none;
	cursor: auto;
}

/*************************************  评论列表  *****************************************/





/*************************************  切换视频  *****************************************/

.switch_video {
	width: 360px;
	height: 202px;
	float: right;
	font-size: 15px;
	background: white;
	margin-bottom: 40px;
}

.switch_video .playButton {
	width: 40px;
	height: 60px;
	background: rgba(0, 0, 0, 0.5);
	background: red;
	float: left;
	position: relative;
	top: -62%;
	left: 45%;
    background: rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#50000000,endColorstr=#50000000);
    color: #C8C8C8;
    margin: 0 auto;
    line-height: 55px;
    text-align: center;
    font-size: 25px;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    cursor: pointer;
}

.switch_video .playButton:hover {
	width: 50px;
	height: 70px;
    line-height: 63px;
	top: -64%;
	left: 44%;
	font-size: 28px;
}

.switch_video .upload,.tip {
	width: 50%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 10px auto;
	color: black;
}

.switch_video .upload {
	display: block;
	color: white;
	background: #209EEA;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	margin-top: 25px;
}

/*************************************  切换视频  *****************************************/





/*************************************  演奏信息  *****************************************/

.palyinfo {
	width: 360px;
	height: auto;
	float: right;
	background: white;
	font-size: 14px;
	color: rgb(34, 34, 34);
}

.title {
	width: 90%;
	height: 60px;
	border-bottom: 1px solid #E0E0E0;
	line-height: 65px;
	text-indent: 10px;
	font-size: 18px;
	margin: 0 auto;
	color: black;
}

.palyinfo_detail {
	width: 80%;
	height: 90px;
	margin: 20px auto 0;
}

.palyinfo_detail_img {
	width: 85px;
	height: 85px;
	float: left;
	border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;
	overflow: hidden;
}

.palyinfo_detail_text {
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: black;
	margin: 10px 0px 0px 25px;
	float: left;
}

.palyinfo_detail_time {
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: rgb(153, 153, 153);
	margin: 8px 0px 0px 30px;
	float: left;
}

.palyinfo_detail_title {
	width: 75%;
	height: 30px;
	line-height: 30px;
	margin: 20px auto 0px;
}

.palyinfo_detail_description {
	width: 75%;
	line-height: 30px;
	margin: 0px auto 10px;
    word-wrap: break-word;
}

.fold {
	height: 30px;
	line-height: 30px;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.open {
	width: 30%;
	line-height: 30px;
	margin: 0px auto 0px;
	float: right;
	color: #209EEA;
	cursor: pointer;
}

.palyinfo_button {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	color: white;
	background: #209EEA;
	margin-top: 20px;
	font-size: 18px;
	letter-spacing: 2px;
	display: block;
}

.palyinfo_button:hover {
	background: rgb(44, 174, 252);
}

/*************************************  演奏信息  *****************************************/





/*************************************  推荐列表  *****************************************/

.recommend {
	width: 360px;
	height: auto;
	float: right;
	margin-top: 40px;
	padding-bottom: 20px;
	background: white;
}

.recommend_list {
	width: 80%;
	height: 80px;
	margin: 0 auto;
	border-bottom: 1px solid #E0E0E0;
	display: block;
	padding: 15px 15px;
}

.recommend_list a:hover { text-decoration: underline; }

.recommend_title {
	font-size: 16px;
	color: black;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.recommend_detail {
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: rgb(153, 153, 153);
	font-size: 14px;
}

.recommend_detail_teacher {
	float: left;
}

.recommend_detail_learned {
	float: right;
	margin-right: 20px;
}
.recommend_detail_learned img {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
}

.recommend_price {
	color: red;
	font-size: 16px;
	width: 100%;
	height: 30px;
	margin-top: 5px;
	line-height: 30px;
	font-weight: bold;
}

/*************************************  推荐列表  *****************************************/





/*************************************   支付弹窗  *****************************************/

.buy_popup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 99999;
}

/*************************************   支付弹窗  *****************************************/






.teacherHomepage_detail_content_applyTip {
	width: 180px;
	height: 45px;
	position: relative;
	top: -30px;
	left: 148px;
	float: right;
	z-index: 99999;
	background-image: url(/home/image/lessonComment/commentDetail/bg.png);
	line-height: 40px;
	text-align: center;
	color: black;
	font-size: 14px;
	display: none;
	cursor: pointer;
}