*{
    margin:0px;
    padding: 0px;
}

a{
    text-decoration:none;
}
.background{
    width:100%;
    /*height:1200px;*/
    height:auto;
}

/*主体div*/
.main{
    width:1200px;
    min-height:632px;
    height:auto;
    /*background: #eee;*/
    margin: 0 auto;
}

/*面包屑*/
.crumbs{
    width:200px;
    height:20px;
    /*background: #ccc;*/
}

.crumbs a{
    font-size:14px;
    font-weight:bold;
    /*color:#B0B0B0;*/
    color:rgb(173,173,173);
}
.crumbs span{
    /*color:#B0B0B0;*/
    color:rgb(173,173,173);
    font-weight:bold;
    font-size:14px;
}


/*内容*/
.main_content{
    width:1196px;
    /*height:596px;*/
    height:auto;
    min-height:600px;
    border: 2px solid #eeeeee;
}

.main_title{
    width:1196px;
    height:140px;
    font-size: 24px;
    color:rgb(34,34,34);
    font-family:"微软雅黑";
    text-align: center;
    line-height: 140px;
}

.main_detail{
    width:1120px;
    /*height:380px;*/
    min-height:380px;
    height:auto;
    margin-left: 40px;
    font-size: 18px;
    color:rgb(102,102,102);
    /*color:#555555;*/
    font-family:"微软雅黑";
    /*background: #cccccc;*/
    line-height:30px;
    text-indent: 2em;
    letter-spacing: 2px;
}

.main_time{
    width:1120px;
    height:75px;
    margin:0 auto;
    font-size: 18px;
    color:rgb(34,34,34);
    font-family:"微软雅黑";
    text-align: right;
    line-height: 30px;
    position: relative;
    top:28px;
}