*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}
.background{
	width:100%;
	/*height:2200px;*/
	height:auto;
	background: #FFFFFF;
}
/*主体div*/
.main{
	width:1200px;
	/*height:1910px;*/
	height:auto;
	/*background: #eee;*/
	margin: 0 auto;
}
/*table循环*/
.table_loop{
	width:1200px;
	height:auto;
	min-height:255px;
	/*height:510px;*/
}

.crumbs{
	width:200px;
	height:20px;
	/*background: #ccc;*/
}
.crumbs a{
	font-size:14px;
	font-weight:bold;
	color:rgb(173,173,173);
}
.crumbs span{
	font-weight:bold;
	color:rgb(173,173,173);
	font-size:14px;
}
/*排序说明*/
.order{
	width:500px;
	height:50px;
	margin-top: 15px;
	/*background: green;*/
}
.order div{
	font-size:20px;
	font-family:"微软雅黑";
	color:rgb(34,34,34);
}
/*字母排序*/
.orderletter{
	width:1200px;
	height:22px;
	font-family:"微软雅黑";
}
.orderletter div{
	width:40px;
	float: left;
	/*color:rgb(34,34,34);*/
	font-size:20px;
	text-align: right;
	cursor:pointer;
}

/*蓝色背景*/
.bluebackground{
	width:27px;
	height:26px;
	color:#1BA2E6;
	/*font-size:20px;
	cursor:pointer;*/
}

/*内容*/
.content{
	width:1200px;
	height:255px;
	/*background: #eee;*/
}
.lettertitle{
	width:1200px;
	height:30px;
	background: #DEDEDE;
	/*background: green;*/
}

.lettertitle  div{
	padding-top: 2px;
	padding-left: 10px;
	color:rgb(34,34,34);
	font-size:20px;
	font-family:"微软雅黑";
}

/*详细内容*/
.detailcontent{
	width:1200px;
	height:200px;
	/*background: pink;*/
}
/*左侧部分*/
.content_left{
	width:300px;
	height:200px;
	float: left;
	/*background: #aaaaaa;*/
}
.content_left img{
	width:300px;
	height:200px;
}
/*右侧部分*/
.content_right{
	width:860px;
	height:200px;
	float: right;
	/*background: #aaaaaa;*/

}
/*姓名*/
.content_name{
	width:860px;
	height:60px;
}
.content_name div{
	color:rgb(34,34,34);
	font-size:20px;
	font-family:"微软雅黑";
	padding-top: 17px;
}

/*学校*/
.content_school{
	width:860px;
	height:50px;
}
.content_school div{
	color:rgb(34,34,34);
	font-size:18px;
	font-family:"微软雅黑";
	padding-top: 12px;
}

/*介绍*/
.content_introduce{
	width:860px;
	height:90px;
}
.content_introduce div{
	color:rgb(153,153,153);
	font-size:16px;
	font-family:"微软雅黑";
	line-height:30px;
	/*display:block;*/
	/*white-space:nowrap;*/
	/*overflow:hidden;*/
	/*text-overflow:ellipsis;*/
}

/*没有名师情况下*/
.noteacher{
	width:1200px;
	height:255px;
	font-size:24px;
	color:#B2B2B2;
	line-height: 200px;
	text-align: center;
}
